# IntelliJ / PyCharm
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environments
venv/
env/

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Selenium
geckodriver.log
# Created by pytest automatically.
.pytest_cache/v
